/* SECTION general */
*{
    scroll-behavior: smooth;
    font-family: 'Sora';
    font-weight: 400;
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3{
    margin: 0;
}
h1{
    font-size: 3em;
    font-weight: 500;
}
h2{
    font-size: 2em;
    font-weight: 600;
}
section{
    height: 100vh;
    padding: 8% 13% 8% 13%;
}
/*/!SECTION */
/* SECTION landing */
nav{
    display: flex;
    justify-content: end;
    gap: 10%;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}

#landing{
    padding: 3%;
    background-image: url("./src/bg.png");
    color: white;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6em 1fr 6em;
    grid-template-areas: 
    "logo nav"
    "date title"
    "names names";
}
.logo{
    height: 6em;
}
.names{
    grid-area: names;
    align-self: end;
    display: flex;
    justify-content: space-between;
}
.date{
    align-self: center;
    height: 6em;
}
.titles{
    place-self: center end;
    font-size: 200%;
}
.titles h1, .names h2{
    font-weight: 800;
}
.titles h1{
    font-size: 2em;
}
#landing h2{
    font-size: 1.5em;
}
.names > div{
    text-align: center;
}
.downArrow{
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(15px);
    }
    30%{
        transform: translateY(0);
    }
}
/*/!SECTION */
/* SECTION projet */
.article{
    height: fit-content;
    color: black;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 50px 2.5px 1fr 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
    "number separator . ."
    ". separator sec1 sec2"
    ". . sec1 sec2";
    background-image: url("./src/greenPattern.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50px 30px ;
}
.article .separator{
    grid-area: separator;
    background-color: black;
    height: 100%;
    width: 100%;
}
.article .sec1{
    grid-area: sec1;
}
.article .sec2{
    grid-area: sec2;
}
/*/!SECTION */
/* SECTION Bonlieu */
#bonlieu{
    height: 100vh;
    background: linear-gradient(264.07deg, #D9F5A3 0%, #310B52 97.4%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
}
#bonlieu .separator{
    height: 2.5px;
    width: 33%;
    background-color: white;
}
/*/!SECTION */
/* SECTION Autres */
#links{    
    background-image: url("./src/purplePattern.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: -2em 7em ;
}
.contributors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 5%;
}
.contributors img{
    border-radius: 50%;
    height: 70%;
}
/*/!SECTION */
/* SECTION footer */
footer{
    height: 300px;
    background-color: #333333;
}
/*/!SECTION */