:root {
    --darkgreen: #042b00;
    --lightgreen:#d8fea3;
    --darkpurple:#2d0150;
    --lila: #cecad9;
}

@font-face {
    font-family: "Sora";
    src: url("fonts/Sora-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Sora";
    src: url("fonts/Sora-Regular.ttf") format("truetype");
    font-weight: normal;
}


body {
    margin: 0;
    background-color: var(--darkpurple);
}

header {
    position: relative;
}

section {
    padding: 2em 0;
}

.container {
    max-width: 500px;
    margin: -80px auto 0 auto;
    padding: 0 1.5em;
    position: relative;
}
.container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background-image: url("images/backgound-image.png");
    background-repeat: repeat-y;
    background-position: -20px 0;
    background-size: 400px;
    opacity: .6;
}

.titles {
    position: absolute;
    bottom: 120px;
    left: 2em;
}

h1{
    font-family: Sora;
    font-weight: 900;
    font-size: 39px;
    text-transform: uppercase;
    color: var(--lightgreen);
    margin: 0;
}

h2{
    font-family: Sora;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    color: var(--lightgreen);
    margin: 0;
}


.header-img {
    width: 100%;
    mask-image: linear-gradient(90deg, rgba(0,0,0,.9) 50%, rgba(0,0,0,0) 90%);
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left 100%, from(rgba(0,0,0,.9)), to(rgba(0,0,0,0)));
    object-fit: cover;
    height: 600px;
}

.date {
    font-family: "Sora";
    font-size: 2em;
    font-weight: 900;
    color: var(--lightgreen);
}

p {
    font-family: "Sora";
    font-weight: normal;
    font-size: 17px;
    padding-right: 80px;
    color: var(--lila);
}